<h1> Материалы курса "Анализ данных в инфромационной безопасности" </h1>

<h2> Задания к презентации "Основы Python"</h2>

<p>Андрей Скороходов, UDV Group</p>
<p>mail: andrei.skorokhodov@udv.group, telegram: @Spongillas</p>

## Задание 1

1. Создайте переменную с именем var1 и присвойте ей значение 10. Переменная – это ссылка на объект 10.
2. Выведите в консоль идентификатор объекта (id(<переменная>)), на который ссылается переменная var1.
3. Преобразуйте идентификатор в hex формат при помощи функции hex().
4. Присвойте переменной var2 значение 20. 
5. Выведите в консоль идентификатор для var1, объекта 10 и объекта 20.

In [1]:
var1 = 10
id(var1)

1991300704848

In [2]:
hex(id(var1))

'0x1cfa2c56a50'

In [3]:
var2 = 20
hex(id(var1)), hex(id(10)), hex(id(20))

('0x1cfa2c56a50', '0x1cfa2c56a50', '0x1cfa2c56b90')

## Задание 2

1. Создайте переменную с именем var1 и присвойте ей значение 10. Выведите в консоль тип var1.
2. Присвойте переменной var1 ее значение, разделенное на 3. Выведите в консоль тип var1.
3. Создайте переменную var2 и присвойте ей значение остатка от деления переменной var1 на 2. Выведите в консоль тип var2.
4. Измените тип переменной var2 на строковый. Сложите var1 и var2
5. Присвойте переменной var1 результат целочисленного деления этой переменной на 1. Выведите в консоль тип var1. Если результат не является целочисленным значением, преобразуйте его в int. 
6. Измените тип переменной var1 на строковый. Сложите var1 и var2. Выведите в консоль тип получившегося результата

In [4]:
var1 = 10
type(var1)

int

In [5]:
var1 = var1 / 3
var1, type(var1)

(3.3333333333333335, float)

In [6]:
var2 = var1 % 2
var2, type(var2)

(1.3333333333333335, float)

In [7]:
var2 = str(var2)
var1 + var2

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [8]:
var1 = var1 // 1
var1, type(var1)

(3.0, float)

In [9]:
var1 = int(var1)

In [10]:
var1 = str(var1)
var1 + var2, type(var1 + var2)

('31.3333333333333335', str)

## Задание 3

1. Создайте целочисленную переменную a, равную десяти, выведите в консоль ее значение и тип.
2. Создайте переменную с плавающей запятой b, также равную десяти, выведите в консоль ее значение и тип. 
3. Создайте строковую переменную с, равную восьми, выведите в консоль ее значение и тип. 
4. Возведите в квадрат переменную a и сложите ее с переменной b, и из полученного значения извлеките квадратный корень. Присвойте значение этого выражения переменной x.
6. Сложите переменную x с переменной c, найдите остаток от деления на 2 и присвойте это значение переменной y.
7. Выведите идентификаторы полученных переменных (id()) и сравните их
8. Выполните шаги 1..6, но предварительно преобразуйте переменную b в int.

In [25]:
a = 10

a, type(a)

(10, int)

In [34]:
b = 10.0

b, type(b)

(10.0, float)

In [35]:
x = (a**2 + b)**0.5

x

10.488088481701515

In [36]:
y = (x + c) % 2

y

1.588088481701515

In [37]:
id(x), id(y), id(a), id(b)

(2262409952560, 2262409950960, 2262278629968, 2262409952688)

In [41]:
a = 10
b = int(10.0)
x = (a**2 + b)**0.5
y = (x + c) % 2

a, b, x, y

(10, 10, 10.488088481701515, 1.588088481701515)

In [39]:
id(x), id(y), id(a), id(b)

(2262409952048, 2262411371056, 2262278629968, 2262278629968)

## Задание 4

1. Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.
2. Выведите на экран длину переменной s.
3. Приведите весь текст к нижнему регистру, выведите на экран.
4. Замените все пробелы в переменной на знак @, выведите на экран.
5. Разбейте ваш текст на предложения и выведите их на экран в виде списка
6. Проверьте, состоит ли ваше первое предложение только из букв. Выведите результат на экран.
7. Выведите на экран второе слово первого предложения вашего текста в обратном порядке.
8. Разбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.

In [21]:
s = '''
Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.
Выведите на экран длину переменной s.
Приведите весь текст к нижнему регистру, выведите на экран.
Замените все пробелы в переменной на знак @, выведите на экран.
Разбейте ваш текст на предложения и выведите их на экран в виде списка
Проверьте, состоит ли ваше первое предложение только из букв. Выведите результат на экран.
Выведите на экран второе слово первой строки вашего текста в обратном порядке.
Разбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.

'''

In [22]:
len(s)

614

In [23]:
s.lower()

'\nприсвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.\nвыведите на экран длину переменной s.\nприведите весь текст к нижнему регистру, выведите на экран.\nзамените все пробелы в переменной на знак @, выведите на экран.\nразбейте ваш текст на предложения и выведите их на экран в виде списка\nпроверьте, состоит ли ваше первое предложение только из букв. выведите результат на экран.\nвыведите на экран второе слово первой строки вашего текста в обратном порядке.\nразбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.\n\n'

In [24]:
s.replace('\n','')

'Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов.Выведите на экран длину переменной s.Приведите весь текст к нижнему регистру, выведите на экран.Замените все пробелы в переменной на знак @, выведите на экран.Разбейте ваш текст на предложения и выведите их на экран в виде спискаПроверьте, состоит ли ваше первое предложение только из букв. Выведите результат на экран.Выведите на экран второе слово первой строки вашего текста в обратном порядке.Разбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно.'

In [25]:
s.replace(' ','@')

'\nПрисвойте@строковой@переменной@s@любой@текст@из@нескольких@(>2)@предложений@длиной@не@менее@20@символов.\nВыведите@на@экран@длину@переменной@s.\nПриведите@весь@текст@к@нижнему@регистру,@выведите@на@экран.\nЗамените@все@пробелы@в@переменной@на@знак@@,@выведите@на@экран.\nРазбейте@ваш@текст@на@предложения@и@выведите@их@на@экран@в@виде@списка\nПроверьте,@состоит@ли@ваше@первое@предложение@только@из@букв.@Выведите@результат@на@экран.\nВыведите@на@экран@второе@слово@первой@строки@вашего@текста@в@обратном@порядке.\nРазбейте@ваше@второе@предложение@и@выведите@на@экран@слова@с@первого@по@пятое@включительно,@через@одно.\n\n'

In [27]:
s.split('.')

['\nПрисвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов',
 '\nВыведите на экран длину переменной s',
 '\nПриведите весь текст к нижнему регистру, выведите на экран',
 '\nЗамените все пробелы в переменной на знак @, выведите на экран',
 '\nРазбейте ваш текст на предложения и выведите их на экран в виде списка\nПроверьте, состоит ли ваше первое предложение только из букв',
 ' Выведите результат на экран',
 '\nВыведите на экран второе слово первой строки вашего текста в обратном порядке',
 '\nРазбейте ваше второе предложение и выведите на экран слова с первого по пятое включительно, через одно',
 '\n\n']

In [18]:
s.replace('@','').isalpha()

False

In [19]:
s.replace('\n','').replace('@','').replace('>','').isalnum()

False

In [20]:
s.replace('\n','').split('.')[0]

'Присвойте строковой переменной s любой текст из нескольких (>2) предложений длиной не менее 20 символов'

In [28]:
s.replace('\n','').split('.')[0].split()[1][::-1]

'йовокортс'

In [89]:
s.replace('\n','').split('.')[1]

'Выведите на экран длину переменной s'

In [90]:
s.replace('\n','').split('.')[1].split()[1:6:2]

['на', 'длину', 's']

In [29]:
len(list(s.split('.')[0])) # количество символов в предложении

104

In [30]:
len(set(list(s.split('.')[0]))) # количество уникальных символов в предложении

29

## Задание 5

1. Создайте два множества st1 и st2, каждое из которых заполните 10 случайными (модуль random функция randint) целочисленными значениями от 0 до 20.
2. Выведите в консоль длины множеств.
3. Выведите в консоль элементы, которые есть в множестве st1, но нет в st2.
4. Выведите в консоль элементы, которые встречаются только в одном множестве.
5. Выведите элементы, которые встречаются в обоих множествах.

In [16]:
import random

In [17]:
st1 = {random.randint(0, 20) for i in range(10)}
st2 = {random.randint(0, 20) for i in range(10)}

st1, st2

({0, 2, 5, 10, 17, 18, 19}, {2, 7, 8, 11, 12, 13, 16, 18})

In [16]:
len(st1), len(st2)

(9, 7)

In [17]:
st1 - st2

{0, 2, 3, 9, 16, 17, 20}

In [18]:
st1 ^ st2

{0, 1, 2, 3, 4, 9, 13, 15, 16, 17, 19, 20}

In [20]:
st1 | st2

{0, 1, 2, 3, 4, 5, 6, 9, 13, 15, 16, 17, 19, 20}

## Задание 6

1. Создайте словарь employees, где ключом будет выступать кортеж из имени и фамилии сотрудника, а значениями – словарь из возраста (‘age’) и должности (‘position’)
2. Добавьте еще одного сотрудника в словарь
3. Выведите на экран запрос несуществующего сотрудника, чтобы запрос вернул (None)
4. Выведите на экран всех сотрудников

In [32]:
employees = {
    ('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
    ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
    ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
    ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'},
}

employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'}}

In [33]:
employees[('иван', 'иванов')]

{'age': 35, 'position': 'сотрудник'}

In [34]:
employees.update({('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1'}})

In [35]:
employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1'}}

In [36]:
employees[('иван', 'иван9999999ов')]

KeyError: ('иван', 'иван9999999ов')

In [37]:
for key in employees.keys():
    print(" ".join(key))

иван иванов
иван1 иванов1
иван2 иванов2
иван3 иванов3
Алексей Петров

## Задание 7

1. Используйте ваш словарь employees из задания 6, добавьте каждому сотруднику в словарь его параметров параметр «зарплата» (‘salary’) с произвольными целочисленными значениями.
2. Найдите (for) самого низкооплачиваемого и высокооплачиваемого сотрудника, выведите на экран (например, “Петров получает 100000, а Сидоров 10000”). Для форматирования можно воспользоваться f-string:
3. Повышайте зарплату самому низкооплачиваемому сотруднику до тех пор, пока (while) она не сравняется или не станет выше зарплаты самого высокооплачиваемого сотрудника. Шаг повышения зарплаты должен быть равен одной десятой разницы между зарплатами указанных сотрудников. После каждого повышения выводите на экран новую зарплату, а в конце – увольте сотрудника путем удаления его из словаря.

In [38]:
employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник'},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник'},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник'},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник'},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1'}}

In [39]:
import random

for key, value in employees.items():
    employees[key]['salary'] = random.randint(50_000, 100_000)
    
employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник', 'salary': 59984},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

In [40]:
key_max = None
key_min = None

salary_min = 100_000
salary_max = 0

for key, value in employees.items():
    
    if value['salary'] > salary_max:
        key_max = key
        salary_max = value['salary']
        

    if value['salary'] < salary_min:
        key_min = key
        salary_min = value['salary']
        
print(f"{key_max[1]} получает {salary_max} р, а {key_min[1]} получает "
      f"{employees[key_min]['salary']}!")

Петров получает 90029 р, а иванов получает 59984!

In [41]:
delta = round(0.1 * (salary_max - salary_min))
print('шаг повышения ЗП:', delta)

while employees[key_min]['salary'] < employees[key_max]['salary']:
    employees[key_min]['salary'] = employees[key_min]['salary'] + delta
    print(employees[key_min]['salary'])
    
employees.pop(key_min)
employees

шаг повышения ЗП: 3004
62988
65992
68996
72000
75004
78008
81012
84016
87020
90024
93028

{('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

## Задание 8

1. При помощи list comprehension создайте список из целочисленных значений от 1 до 20.
2. При помощи list comprehension создайте список из целочисленных значений от 1 до 20, но только нечетные числа.
3. При помощи dict comprehension создайте новый словарь из словаря employees, где ключом будет фамилия, а значением – должность сотрудника.
4. При помощи dict comprehension создайте новый словарь из словаря employees, где ключом будет фамилия, а значением – должность сотрудника, если его зарплата больше 50000.

In [42]:
[i for i in range(1,21)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [44]:
[i for i in range(1,21) if i%2==1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [50]:
employees

{('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

In [48]:
{key[1]: value['position'] for key, value in employees.items()}

{'иванов1': 'сотрудник',
 'иванов2': 'сотрудник',
 'иванов3': 'сотрудник',
 'Петров': 'сотрудник1'}

In [49]:
{key[1]: value['position'] for key, value in employees.items() if value['salary']>50000}

{'иванов1': 'сотрудник',
 'иванов2': 'сотрудник',
 'иванов3': 'сотрудник',
 'Петров': 'сотрудник1'}

## Задание 9

1. Создайте функцию calculate_bmi(), которая рассчитывает индекс массы тела (ИМТ, bmi). На вход функция будет принимать вес (weight: float) в килограммах и рост (height: float) в метрах.
2. Предусмотрите проверку отрицательных, нулевых и нечисловых значений для аргументов функции. В случае некорректных входных аргументов необходимо вывести на экран, например «Вес и/или рост имеют некорректные значения!», и остановить выполнение функции.
3. ИМТ – отношение массы человека к квадрату его роста. Функция должна возвращать значение ИМТ и выводить его на экран.

In [23]:
def calculate_bmi(weight, height):
    if type(weight) in [int, float] and type(height) in [int, float] and \
        weight > 0 and height > 0:
        
        return weight / height**2

    else:
        print("Вес и/или рост имеют некорректные значения!")
        return

In [24]:
calculate_bmi(50, 2)

12.5

## Задание 10
1. Для словаря employees из предыдущей части напишите функцию change_currency(), которая будет переводить зарплату работников в доллары. 
2. В качестве параметров функции нужно передать валюту (“currency”) и обменный курс (“exchange_rate”), новое значение зарплаты будет вычисляться как текущее значение salary, умноженное на exchange_rate.
3. Для того, чтобы понимать в какой валюте работник получает зарплату, нужно добавить в словарь каждого сотрудника ключ “currency”, изначально равный “rub”. При смене валюты значение ключа меняется на соответствующую валюту (например, “usd”).
4. Также напишите функцию show_salary(), которая будет принимать на вход элемент словаря employees и выводить на экран сообщение формата: {должность} {фамилия} получает {зарплата} {валюта}.

In [26]:
employees = {('иван', 'иванов'): {'age': 35, 'position': 'сотрудник', 'salary': 59984},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

employees

{('иван', 'иванов'): {'age': 35, 'position': 'сотрудник', 'salary': 59984},
 ('иван1', 'иванов1'): {'age': 36, 'position': 'сотрудник', 'salary': 79110},
 ('иван2', 'иванов2'): {'age': 37, 'position': 'сотрудник', 'salary': 73764},
 ('иван3', 'иванов3'): {'age': 38, 'position': 'сотрудник', 'salary': 66740},
 ('Алексей', 'Петров'): {'age': 40, 'position': 'сотрудник1', 'salary': 90029}}

In [27]:
def change_currency(employee, currency, exchange_rate):

    if employee.setdefault('currency', 'rub') != currency:
        employee['currency'] = currency
        employee['salary'] *= exchange_rate

    return employee

def show_salary(employee, info):
    print(f"{info['position']} {employee[1]} получает {info['salary']} {info['currency']}")

In [28]:
for key, value in employees.items():
    employees[key] = change_currency(value, 'usd', 0.01)
    show_salary(key, employees[key])

сотрудник иванов получает 599.84 usd
сотрудник иванов1 получает 791.1 usd
сотрудник иванов2 получает 737.64 usd
сотрудник иванов3 получает 667.4 usd
сотрудник1 Петров получает 900.29 usd

## Задание 11
1. Для словаря employees из задания 4 напишите функцию add_employee(), которая будет добавлять сотрудников в исходный словарь. 
2. В качестве обязательных параметров в функцию нужно передать исходный словарь (employees: dict), имя (name: str), фамилию (surname: str), должность (position: str), возраст (age: int), в качестве необязательных параметров – зарплату (salary: float, по умолчанию 50000) и валюту (currency: str, по умолчанию “rub”), в которой выплачивается зарплата.
3. Функция должна добавлять сотрудника в исходный словарь в принятом для словаря формате. Если добавляемый сотрудник уже существует в исходном словаре, следует вывести на экран предупреждение и прекратить выполнение функции.
4. Также напишите функцию fire_employee(), которая будет удалять сотрудника по его имени и фамилии. Если указанный сотрудник отсутствует, следует вывести на экран предупреждение и прекратить выполнение функции.

In [29]:
def add_employee(employees, name, surname, position, age, salary=50000, currency='rub'):
    
    if (name, surname) in employees.keys():
        print("Сотрудник уже есть!")
        return
    
    employees[(name, surname)] = {
        'age': age, 
        'position': position, 
        'salary': salary,
        'currency': currency
        }

def fire_employee(employees, key):
    if key not in employees.keys():
        print('Такого сотрудника нет')
        return
        
    employees.pop(key)

In [30]:
employees

{('иван', 'иванов'): {'age': 35,
  'position': 'сотрудник',
  'salary': 599.84,
  'currency': 'usd'},
 ('иван1', 'иванов1'): {'age': 36,
  'position': 'сотрудник',
  'salary': 791.1,
  'currency': 'usd'},
 ('иван2', 'иванов2'): {'age': 37,
  'position': 'сотрудник',
  'salary': 737.64,
  'currency': 'usd'},
 ('иван3', 'иванов3'): {'age': 38,
  'position': 'сотрудник',
  'salary': 667.4,
  'currency': 'usd'},
 ('Алексей', 'Петров'): {'age': 40,
  'position': 'сотрудник1',
  'salary': 900.29,
  'currency': 'usd'}}

In [31]:
add_employee(employees, 'ivan', 'ivanov', 'engineer', 22, )
employees

{('иван', 'иванов'): {'age': 35,
  'position': 'сотрудник',
  'salary': 599.84,
  'currency': 'usd'},
 ('иван1', 'иванов1'): {'age': 36,
  'position': 'сотрудник',
  'salary': 791.1,
  'currency': 'usd'},
 ('иван2', 'иванов2'): {'age': 37,
  'position': 'сотрудник',
  'salary': 737.64,
  'currency': 'usd'},
 ('иван3', 'иванов3'): {'age': 38,
  'position': 'сотрудник',
  'salary': 667.4,
  'currency': 'usd'},
 ('Алексей', 'Петров'): {'age': 40,
  'position': 'сотрудник1',
  'salary': 900.29,
  'currency': 'usd'},
 ('ivan', 'ivanov'): {'age': 22,
  'position': 'engineer',
  'salary': 50000,
  'currency': 'rub'}}

In [32]:
fire_employee(employees, ('ivan', 'ivanov'))
employees

{('иван', 'иванов'): {'age': 35,
  'position': 'сотрудник',
  'salary': 599.84,
  'currency': 'usd'},
 ('иван1', 'иванов1'): {'age': 36,
  'position': 'сотрудник',
  'salary': 791.1,
  'currency': 'usd'},
 ('иван2', 'иванов2'): {'age': 37,
  'position': 'сотрудник',
  'salary': 737.64,
  'currency': 'usd'},
 ('иван3', 'иванов3'): {'age': 38,
  'position': 'сотрудник',
  'salary': 667.4,
  'currency': 'usd'},
 ('Алексей', 'Петров'): {'age': 40,
  'position': 'сотрудник1',
  'salary': 900.29,
  'currency': 'usd'}}

## Задание 12

1. Создайте функцию group_types(), которая будет принимать на вход любое количество позиционных аргументов и группировать их по типу. Аргументы могут быть типов str, int, float, другие типы игнорируются.
2. Функция должна возвращать словарь, в котором ключи – это типы данных, а значения –  отсортированные по убыванию значения соответствующих типов.

In [33]:
def group_types(*args):
    result = {'int': [], 'float': [], 'str': []}

    for arg in args:
        if type(arg)==int:
            result['int'].append(arg)
        elif type(arg)==float:
            result['float'].append(arg)
        elif type(arg)==str:
            result['str'].append(arg)

    for key in result:
        result[key] = sorted(result[key], reverse=True)

    return result

In [34]:
group_types(4, 2, 3, 5.0, 6.5, 99.2, 'cat', 'dog', 'bee')

{'int': [4, 3, 2], 'float': [99.2, 6.5, 5.0], 'str': ['dog', 'cat', 'bee']}

## Задание 13

1. При помощи конструкции List Comprehension и модуля random создайте список lst из 1 миллиона случайных целочисленных значений. 
2. При помощи функции map() и лямбда-выражений сгенерируйте список lst1, в котором каждый элемент будет равен квадратному корню соответствующего значения списка lst.
3. Выполните пункт 2, используя цикл for
4. Выполните пункт 2, используя List Comprehension 
5. Сравните время выполнения формирования списка lst1, для этого можно использовать модуль datetime (datetime.datetime.now() – получение текущего времени в формате datetime, времена можно вычитать), выведите на экран время выполнения для каждого варианта.
6. При помощи функции filter() и лямбда-выражений сгенерируйте список lst2, в котором будут только те элементы списка lst, которые больше среднего значения списка lst.

In [35]:
import random
import datetime

lst = [random.randint(1, 1000) for i in range(1_000_000)]

start_time = datetime.datetime.now()

lst1 = []

for element in lst:
    lst1.append(element**0.5)

print((datetime.datetime.now() - start_time).microseconds / 1000, "ms")

start_time = datetime.datetime.now()

lst1 = list(map(lambda x: x**0.5, lst))
print((datetime.datetime.now() - start_time).microseconds / 1000, "ms")

start_time = datetime.datetime.now()
lst1 = [x**0.5 for x in lst]
print((datetime.datetime.now() - start_time).microseconds / 1000, "ms")

240.711 ms
201.632 ms
171.419 ms

In [36]:
lst_mean = sum(lst) / len(lst)

lst2 = list(filter(lambda x: x>lst_mean, lst))
len(lst2)

500486

## Задание 14
1. Создайте функцию create_multiplier(factor), которая принимает на вход число, которое будет являться множителем.
2. Внутри функции create_multiplier() создайте функцию multiplier(x), которая принимает на вход число, которое нужно умножить на множитель.
3. Используя концепцию замыкания функций объявите два объекта double и triple, которые будут ссылаться на функцию create_multiplier, но передавать в нее  разные аргументы: 2 и 3 соответственно.
5. Присвойте значения функций double и triple переменным result1 и result2 соответственно. В функции double и triple в качестве аргумента передайте одинаковое число, например, 10.

In [37]:
def create_multiplier(factor):
    # Внешняя функция, которая принимает фактор
    def multiplier(x):
        # Внутренняя функция, которая умножает x на фактор
        return x * factor
    return multiplier  # Возвращаем внутреннюю функцию

# Создаем две функции для умножения на разные факторы
double = create_multiplier(2)
triple = create_multiplier(3)

# Используем созданные функции
result1 = double(10)
result2 = triple(10) 

print(result1)
print(result2)

20
30

## Задание 15

1. Напишите собственную функцию get_value_by_key() для получения значения из словаря по ключу.
2. Функция должна принимать на вход словарь (dictionary), ключ (key) и значение (def_value, по умолчанию None), которое будет возвращаться, если ключ в словаре отсутствует. Т.е. вести себя схожим образом со стандартной функцией dict.get ().
3. В случае, если ключ есть, то функция возвращает его значение.
4. В случае, если на вход функции в качестве dictionary передается не словарь, в консоль должно выводиться сообщение о недопустимом аргументе функции, а функция должна возвращать None.
5. В случае, если ключ key в словаре отсутствует, функция должна выводить в консоль сообщение, что такого ключа нет, но все равно возвращать значение, указанное в def_value.

In [1]:
def get_value_by_key(dictionary, key, def_value=None):
    if type(dictionary) != dict:
        print('Недопустимый аргумент функции')
        return None
    
    try:
        return dictionary[key]
    except KeyError:
        print('Такого ключа нет!')
        return def_value
        
get_value_by_key({1: '1', 2: '2'}, 1, 'none')

'1'

In [2]:
get_value_by_key({1: '1', 2: '2'}, 3, 'none')

Такого ключа нет!

'none'

## Задание 16

1. Напишите функцию check_value(), которая будет проверять соответствие переданного ей значения определенным критериям и две функции check_number(), check_str(), в которых будет выполняться обработка исключений.
2. На вход функция check_value() будет принимать значение (value), а также неопределенное количество именованных аргументов.
3. В случае, если на вход пришло число и среди именованных аргументов есть аргумент limits (список из верхней и нижней границы разрешенного диапазона), должна вызываться функция check_number().
4. В случае если на вход пришла строка и среди именованных аргументов есть аргумент lenght (максимальная длина строки), должна вызываться функция check_str().
5. Функции check_str() и check_number() должны проверять строку и число на соответствие длине и диапазону соответственно. При превышении максимальной длины строки или выходе числа за диапазон функции должны генерировать исключение AttributeError.
6. При возникновении исключения в функции check_value(), исключение нужно обработать и вывести его текст в консоль.
7. В любом случае в конце выполнения функции она должна выводить в консоль сообщение о завершенной проверке, значение value и его тип.

In [14]:
def check_str(value, lenght):
    if len(value) > lenght:
        raise AttributeError("длина строки больше разрешенной")

def check_number(value, limits):
    if not (limits[0] <= value <= limits[1]):
        raise AttributeError('Значение выходит за диапазон')
    
def check_value(value, **kwargs):
    
    try:
        if type(value) in [int, float] and kwargs.get('limits', False):
            check_number(value, kwargs['limits'])

        if type(value)==str and kwargs.get('lenght', False):
            check_str(value, kwargs['lenght'])
            
    except AttributeError as exc:
        print(exc)
        
    finally:
        print("Проверка завершена для значения", value, type(value))
    
check_value(10, limits=[1, 11])
check_value(12, limits=[1, 11])
check_value('10')
check_value('1000', lenght=5)
check_value('1000', lenght=3)

Проверка завершена для значения 10 <class 'int'>
Значение выходит за диапазон
Проверка завершена для значения 12 <class 'int'>
Проверка завершена для значения 10 <class 'str'>
Проверка завершена для значения 1000 <class 'str'>
длина строки больше разрешенной
Проверка завершена для значения 1000 <class 'str'>

# Домашнее задание

In [1]:
from homework_employee import Manager, Engineer

manager1 = Manager('Alex', 'Ivanov', 'manager', 33, currency='rub', salary=100_000)
print(manager1)

Alex Ivanov

In [2]:
manager1()

Сотрудник Alex уже идет к вам.

In [3]:
print(manager1.salary, manager1.currency)
manager1.change_currency('eur')
print(manager1.salary, manager1.currency)

100000 rub
1000.0 eur

In [4]:
engineer1 = Engineer('Ivan', 'Popov', 'engineer', 89)

Возраст сотрудника не удовлетворяет корп.стандартам

In [5]:
manager2 = Manager('Alex', 'Ivanov', 'manager', 33, currency='rub', salary=100_000)

In [6]:
manager3 = Manager('Alex', 'Ivanov', 'manager', 133, currency='rub', salary=100_000)

Некорректное значение возраста, объект не создан

In [7]:
manager1 == manager2

True

In [8]:
manager1.add_engineer(engineer1)
manager1.add_engineer(Engineer('Petr', 'Petrov', 'engineer', 40))
[str(engineer) for engineer in manager1.engineers]

['Ivan Popov', 'Petr Petrov']

In [9]:
print(engineer1.manager)

Alex Ivanov

In [10]:
manager1.give_premium()
engineer1.give_premium()
manager2.give_premium()

manager Alex Ivanov получил премию в размере 9000.0 eur
engineer Ivan Popov получил премию в размере 5000.0 rub
manager Alex Ivanov получил премию в размере 0.0 rub

0.0